PORT=8080
ENV=development
DATABASE_URL=postgres://credmaster:credmaster_secret@localhost:5439/credmaster?sslmode=disable
JWT_SECRET=replace_with_32_char_min_secret_key
WEBHOOK_SENDMESSAGE=
TRIGGER_TEMPLATES_WEBHOOK=

POSTGRES_USER=credmaster
POSTGRES_PASSWORD=credmaster_secret
POSTGRES_DB=credmaster
POSTGRES_PORT=5439

PGADMIN_EMAIL=admin@credmaster.local
PGADMIN_PASSWORD=admin
PGADMIN_PORT=5051
